QWidget{
    background-color: "#7aa0dd";
}

QLabel{
    color: "white";
    font-size: 20px;
    font-family: "Gill Sans";
}

QLabel#category{
    padding-right: 70px;
}

QLabel#directions{
    color: "white";
    font-size: 13px;
    font-family: "Gill Sans";

}

QLabel#rating_value {
    width: 150px;
    height: 150px;
}

QLineEdit#name{
    padding: 10px;
    color: "white";
}