QWidget{
    background-color: "#7aa0dd";
}

QLabel{
    color: "white";
    font-size: 16px;
    font-family: "Gill Sans";

}

QLabel#directions{
    color: "white";
    font-size: 11px;
    font-family: "Gill Sans";

}

QLabel#rating_value {
    width: 150px;
    height: 150px;
}

QLineEdit{
    padding: 10px;
}